body {
    margin: 10px;
}

h1 {
    text-align: center;

}

h2 {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card {
    width: 3000px;
    user-select: none;
}

.incard {
    padding: 10px;
    background-color: gray;
    border: 1px solid white;
    font-size: small;
}

.head {
    border: 1px solid white;
    text-align: center;

}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.darkMode {
    background-color: black;
    color: white;
}

.lightMode {
    background-color: white;
    color: black;
}